.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.amount {
  text-align: center;
}

.amount h3{
  font-size: 3rem;
  color: orangered;
}

.amount p{
  animation: colorChange .5s ease-out 1s forwards;
  font-size: 1.5rem;
}

.amount h3, .amount p {
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.title {
  text-align: center;
  font-family: 'Cormorant Upright', sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize;
  animation: colorChange .5s ease-out 1s forwards;
}

.condition {
  padding: .5rem 0;
  text-align: justify;
}

@keyframes colorChange {
  from {
    color: black;
  }
  to {
    color: rgb(45, 170, 128);
  }
}

@media screen and (min-width: 42rem) {
  .main {
    flex-direction: row;
    justify-content: space-between;
  }
  .amount {
    flex: 0 0 25rem;
  }
  .amount h3 {
    font-size: 5rem;
  }
  .title {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .condition {
    padding: 1rem 2rem;
  }
}