.navbar {
  padding:1rem;
  color: white;
  background-color: #000000e6;
  display: flex;
  transition: background-color 300ms ease-in;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 10;
  top: 0;
}

.logo {
  text-align: right;
  order: 1;
}

.logo_title {
  font-family: 'Righteous', cursive;
  font-size: 3rem;
}

.logo_subtitle {
  text-transform: uppercase;
}

.menu div {
  width: 2rem;
  height: .3rem;
  background-color: white;
  margin: .4rem 0;
}

.menu:hover {
  cursor: pointer;
}

.menu:hover div {
  background-color: brown;
  box-shadow: 2px 2px 2px rgba(184, 46, 46, 0.7);
}

@media screen and (min-width: 42rem) {
  .navbar {
    padding-right: 2rem;
  }
}