.main {
  position: relative;
  top: 0;
  width: 100vw;
}

.slide:first-child {
  display: block;
}

.slide {
  display: none;
  animation: carousel 2s ease-out;
}

img {
  width: 100%;
}

@keyframes carousel {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.featured {
  position: absolute;
  top: 50%;
  left: 30%;
  padding: .2rem;
  border: .1rem solid white;
}

.featured div{
  font-size: 1.2rem;
  text-align: center;
  display: block;
  color: white;
  padding: 1.2rem;
  border: .1rem solid white;
}


@media screen and (min-width: 42rem) {
  .main {
    width: 100%;
  }

  .featured {
    top: 35%;
    left: 40%;
    border: .3rem solid white;
  }

  .featured div {
    font-size: 2rem;
    padding: 1.7rem;
    border: .3rem solid white;
    font-weight: bold; 
    background-color: rgba(0, 0, 0, 0.3); 
    text-transform: uppercase;
  }
}