.sidebar{
  background-color: azure;
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
  padding: .7rem; 
  width: 50vw;
  z-index: 20;
}

.link_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  margin: 1.2rem 0;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  cursor: pointer;
}

.link:hover,
.link:active {
  color: brown;
}
