.footer {
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.logo_title {
  font-family: 'Righteous', cursive;
  font-size: 1.6rem;
}

.logo_subtitle {
  margin-top: .5rem;
}