.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
}

.title {
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 42rem) {
  .main {
    font-size: 1.4rem;
  }
  .title {
  font-size: 3rem;
  }
}